# Common Python garbage
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Model files
*.h5
*.tflite
*.pt
*.onnx
*.pb
models/

# Cache
.cache/
pip-wheel-metadata/
*.whl

# Git
.git/
.gitignore

# Dataset folders
data/
dataset/
images/
